<?xml version="1.0"?>
<robot name="uuv">

  <material name="white">
    <color rgba="0.25 0.25 0.25 1"/>
  </material>

  <link name="uuv">
    <visual>
    	<origin rpy="1.57 0 1.57" xyz="-0.25 -0.425 -0.165"/>
      <geometry>
        <mesh filename="package://vanttec_controllers/models/meshes/VTEC_U-II_GAMMA.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>

    <!--collision>
    	<origin rpy="1.57075 0 1.57075" xyz="0 0 -0.25"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/boat.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision-->

    <!--inertial>
      <origin rpy="1.57075 3.1416 1.57075" xyz="0 0 -0.25"/>
      <mass value="30"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="4.1"/>
    </inertial-->
  </link>
</robot>